.bg-form {
  background: #010B1C;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,.8);
  max-width: 1100px;
  height: 600px;
  margin: 100px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.form-container {
  display: flex;
  gap: 30px;
}

.form input{
  width: 370px;
  height: 60px;
  background: #343F52;
  border: none;
  border-radius: 5px;
  display: block;
}

.form input + input {
  margin-top: 20px;
}

.form input::placeholder {
  font-family: 'Poppins', sans-serif;
  padding: 5px;
}

.form-content h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
  background: #010B1C;
}

.form-content span {
  font-size: .875rem;
  margin: 10px 0px 10px 0px;
  display: flex;
  align-items: center;
  color: #919499;
}

.form-content .text-blue {
  color: #155FE8;
  cursor: pointer;
  margin-left: 5px;
  display: inline-block;
}

.underline {
  border-bottom: 2px solid ;
}

.text-blue:hover {
  color: #188FE8;
}

/* .deco::before {
  content: '';
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #D9D9D9;
  display: inline-block;
  margin-right: 10px;
} */

.deco input[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: inline-block;
  appearance: none;
  background: #D9D9D9;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.deco input[type="checkbox"]:checked {
  background: #155FE8; /* Cor de fundo quando o checkbox está marcado */
}

.deco {
  font-size: 14px;
  color: #919499;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

button {
  font-size: 20px;
  color: #ffffff;
  background: #155FE8;
  border: none;
  width: 370px;
  height: 60px;
  border-radius: 5px;
  font-weight: 600;
  margin: 20px 0px;
  display: block;
  cursor: pointer;
}

button:hover {
  background-color: #131FE8;
}

@media (max-width: 800px) {
  .bg-form {
    max-width: 600px;
  }
  img {
    display: none;
  }
}

@media (max-width: 600px) {
  .bg-form {
    max-width: 400px;
  }
  .form input {
    max-width: 300px;
  }
  button {
    max-width: 300px;
  }
  .form-content h1 {
    font-size: 2.25rem;
  }
}